@page "/grados"
@using Models
@using Services
@inject IGradoService GradoService

<MudText Typo="Typo.h4">Grados</MudText>
@code {
    IEnumerable<Grado> grados = new List<Grado>();
    protected override async Task OnInitializedAsync()
    {
        grados= await GradoService.GetAll();
    }
}

@if (grados == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in grados)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard Style="height: 150px; width: 200px; position: relative;">
                    <MudCardHeader Class="blue lighten-1 d-flex align-items-center justify-center" Style="height: 53px;">
                        <MudText Typo="Typo.h6" Style="color: white;">Grado:</MudText>
                    </MudCardHeader>
                    <MudCardContent Class="d-flex align-items-center justify-center" Style="height: calc(100% - 53px - 56px);">
                        <MudText Typo="Typo.h6">@item.Nombre</MudText>
                    </MudCardContent>
                    <MudCardActions Class="justify-center" Style="position: absolute; bottom: 0; width: 100%;">
                        <MudButton Link="@($"/horaxmat/{item.Id}")" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.CalendarMonth" Color="Color.Tertiary">Ver Horario</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>


}
