@page "/informacion"
<MudContainer Fixed="false">
    <body>

        <div class="container">
            <img src="images/escuela.jpg" class="logoimg" alt="Imagen de la escuela" />
        </div>
        <h1>Centro Escolar Caserio El Chupadero</h1>
        <h2><i class="bi bi-geo-alt"></i> Ubicación: Caserio El Chupadero , Santa Rita , Chalatenango, El Salvador  </h2>
        <br />
        <div class="info">
            <div class="flip-card" onclick="this.classList.toggle('flipped');">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-image" src="images/mision.jpg" alt="Misión">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-image" src="images/misioninfo.jpg" alt="Información de Misión">
                    </div>
                </div>
            </div>
            <div class="flip-card" onclick="this.classList.toggle('flipped');">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-image" src="images/vision.jpg" alt="Visión">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-image" src="images/visioninfo.jpg" alt="Información de Visión">
                    </div>
                </div>
            </div>
            <div class="flip-card" onclick="this.classList.toggle('flipped');">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-image" src="images/valores.jpg" alt="Valores">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-image" src="images/valoresinfo.jpg" alt="Información de Valores">
                    </div>
                </div>
            </div>
        </div>
        <div class="container1">
            <div class="left">
                <a href="https://www.facebook.com" target="_blank" class="button"><i class="bi bi-facebook"></i></a>
                <a href="https://web.whatsapp.com" target="_blank" class="button"><i class="bi bi-whatsapp"></i></a>
                <a href="https://mail.google.com" target="_blank" class="button"><i class="bi bi-envelope-at"></i></a>
            </div>

            <div class="right">
                <a href="https://www.google.com/maps/place/Caserio+El+Chupadero,+Santa+Rita,+Chalatenando,+El+Salvador" target="_blank" class="button"><i class="bi bi-geo-alt"></i></a>
            </div>
        </div>


    </body>


</MudContainer>
