@page "/informacion"
<MudContainer Fixed="false">
    <body>

        <div class="container">
            <img src="images/escuela.jpg" class="logoimg" alt="Imagen de la escuela" />
        </div>
        <h1>Centro Escolar Caserio El Chupadero</h1>
        <h2><i class="bi bi-geo-alt"></i> Ubicación: Caserio El Chupadero , Santa Rita , Chalatenando, El Salvador  </h2>
        <br />
        <div class="info">
            <div class="cuadro @mision.FlipClass" @onclick="mision.Toggle">
                <div class="front"><img src="ruta/a/tu/imagen/mision.jpg" alt="Misión"></div>
                <div class="back"><img src="ruta/a/tu/imagen/info_mision.jpg" alt="Información de la misión"></div>
            </div>

            <div class="cuadro @vision.FlipClass" @onclick="vision.Toggle">
                <div class="front"><img src="ruta/a/tu/imagen/vision.jpg" alt="Visión"></div>
                <div class="back"><img src="ruta/a/tu/imagen/info_vision.jpg" alt="Información de la visión"></div>
            </div>

            <div class="cuadro @valores.FlipClass" @onclick="valores.Toggle">
                <div class="front"><img src="ruta/a/tu/imagen/valores.jpg" alt="Valores"></div>
                <div class="back"><img src="ruta/a/tu/imagen/info_valores.jpg" alt="Información de los valores"></div>
            </div>
        </div>
        <br />
        <div class="container1">
            <div class="left">
                <a href="https://www.facebook.com" target="_blank" class="button"><i class="bi bi-facebook"></i></a>
                <a href="https://web.whatsapp.com" target="_blank" class="button"><i class="bi bi-whatsapp"></i></a>
                <a href="https://mail.google.com" target="_blank" class="button"><i class="bi bi-envelope-at"></i></a>
            </div>

            <div class="right">
                <a href="https://www.google.com/maps/place/Caserio+El+Chupadero,+Santa+Rita,+Chalatenando,+El+Salvador" target="_blank" class="button"><i class="bi bi-geo-alt"></i></a>
            </div>
        </div>


    </body>

    @code {

        public Cuadro mision = new Cuadro();
        public Cuadro vision = new Cuadro();
        public Cuadro valores = new Cuadro();

        public class Cuadro
        {
        private bool isFlipped;

        public void Toggle()
        {
            isFlipped = !isFlipped;
        }

        public string FlipClass => isFlipped ? "flip" : "";
        }
    }
</MudContainer>
