@page "/roles"
@using Models
@using Services
@inject IRolService RolService

<MudText Typo="Typo.h4">Roles</MudText>
@code {
    IEnumerable<Rol> roles = new List<Rol>();
    protected override async Task OnInitializedAsync()
    {
        roles = await RolService.GetAll();
    }
}

@if (roles == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in roles)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard>
                    <MudCardHeader Class="blue lighten-1">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@item.Nombre</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
     
                    <MudCardActions>
                        <MudButton Link="@($"/detalles/{item.Id}")" Variant="Variant.Outlined" Color="Color.Success">Detalles</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}

